* {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    
    .music {
        background-color: rgb(36, 36, 37);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 300px;
        padding: 1rem;
        transition: all 0.4s;
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        margin-bottom: 2rem;
    }
    
    .music img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .container {
        width: 90%;
        max-width: 600px;
    }
    
    .slider-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .slider {
        display: flex;
        aspect-ratio: 16/9;
        scroll-snap-type: x mandatory;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
        animation: slideMove 12s infinite;
    }
    
    .slider img {
        flex: 1 0 100%;
        object-fit: cover;
        height: auto;
        width: 100%;
    }
    
    .text-container {
        padding: 20px;
        text-align: center;
        width: 100%;
    }
    
    .particletext {
        text-align: center;
        font-size: 60px;
        color: white;
    }
    
    .particletext.hearts > .particle {
        position: absolute;
        background-color: #cc2a5d;
        width: 12px;
        height: 12px;
        opacity: 0;
        border-radius: 50%;
        animation: hearts 3s ease-in infinite;
    }
    
    @media (max-width: 768px) {
        .music {
            width: 100%;
            max-width: 250px;
        }
    
        .slider-wrapper {
            max-width: 400px;
        }
    
        .particletext {
            font-size: 40px;
        }
    }
    
    @media (max-width: 480px) {
        .music {
            max-width: 200px;
        }
    
        .slider-wrapper {
            max-width: 300px;
        }
    
        .particletext {
            font-size: 30px;
        }
    }
}